In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df=  pd.read_csv('clean_laptop_dataset')

In [3]:
df.head()

,Company,TypeName,Inches,Ram,Weight,Price,HD_display,cpu_brand,memory,gpu_brand,operating_system
0,Apple,Ultrabook,13.3,8,1.37,71379.0,0,Intel Core i5,128.0,Intel,MacOS
1,Apple,Ultrabook,13.3,8,1.34,47896.0,0,Intel Core i5,128.0,Intel,MacOS
2,HP,Notebook,15.6,8,1.86,30636.0,1,Intel Core i5,256.0,Intel,MacOS
3,Apple,Ultrabook,15.4,16,1.83,135195.0,0,Intel Core i7,512.0,AMD,MacOS
4,Apple,Ultrabook,13.3,8,1.37,96096.0,0,Intel Core i5,256.0,Intel,MacOS

In [4]:
h = df.head()

## feature engineering

In [5]:
df.shape

(1303, 11)

In [6]:
df.dtypes

Company              object
TypeName             object
Inches              float64
Ram                   int64
Weight              float64
Price               float64
HD_display            int64
cpu_brand            object
memory              float64
gpu_brand            object
operating_system     object
dtype: object

## Null values

In [7]:
df.isnull().mean()

Company             0.0
TypeName            0.0
Inches              0.0
Ram                 0.0
Weight              0.0
Price               0.0
HD_display          0.0
cpu_brand           0.0
memory              0.0
gpu_brand           0.0
operating_system    0.0
dtype: float64

#### No null values found

In [8]:
df = df[['Company', 'TypeName', 'Inches', 'Ram', 'Weight',  'HD_display',
       'cpu_brand', 'memory', 'gpu_brand', 'operating_system', 'Price']]

In [9]:
df.head()

,Company,TypeName,Inches,Ram,Weight,HD_display,cpu_brand,memory,gpu_brand,operating_system,Price
0,Apple,Ultrabook,13.3,8,1.37,0,Intel Core i5,128.0,Intel,MacOS,71379.0
1,Apple,Ultrabook,13.3,8,1.34,0,Intel Core i5,128.0,Intel,MacOS,47896.0
2,HP,Notebook,15.6,8,1.86,1,Intel Core i5,256.0,Intel,MacOS,30636.0
3,Apple,Ultrabook,15.4,16,1.83,0,Intel Core i7,512.0,AMD,MacOS,135195.0
4,Apple,Ultrabook,13.3,8,1.37,0,Intel Core i5,256.0,Intel,MacOS,96096.0

In [10]:
X= df.iloc[:,0:10]
y= df.iloc[:,-1]

In [11]:
X

,Company,TypeName,Inches,Ram,Weight,HD_display,cpu_brand,memory,gpu_brand,operating_system
0,Apple,Ultrabook,13.3,8,1.37,0,Intel Core i5,128.0,Intel,MacOS
1,Apple,Ultrabook,13.3,8,1.34,0,Intel Core i5,128.0,Intel,MacOS
2,HP,Notebook,15.6,8,1.86,1,Intel Core i5,256.0,Intel,MacOS
3,Apple,Ultrabook,15.4,16,1.83,0,Intel Core i7,512.0,AMD,MacOS
4,Apple,Ultrabook,13.3,8,1.37,0,Intel Core i5,256.0,Intel,MacOS
...,...,...,...,...,...,...,...,...,...,...
1298,Lenovo,2 in 1 Convertible,14.0,4,1.80,1,Intel Core i7,128.0,Intel,Windows
1299,Lenovo,2 in 1 Convertible,13.3,16,1.30,1,Intel Core i7,512.0,Intel,Windows
1300,Lenovo,Notebook,14.0,2,1.50,0,Other Intel processor,64.0,Intel,Windows
1301,HP,Notebook,15.6,6,2.19,0,Intel Core i7,1000.0,AMD,Windows
1302,Asus,Notebook,15.6,4,2.20,0,Other Intel processor,500.0,Intel,Windows

In [12]:
y

0        71379.0
1        47896.0
2        30636.0
3       135195.0
4        96096.0
          ...
1298     33993.0
1299     79867.0
1300     12201.0
1301     40706.0
1302     19660.0
Name: Price, Length: 1303, dtype: float64

In [13]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [14]:
X_train

,Company,TypeName,Inches,Ram,Weight,HD_display,cpu_brand,memory,gpu_brand,operating_system
136,Lenovo,Notebook,15.6,4,1.90,0,Other Intel processor,1000.0,Intel,MacOS
184,Xiaomi,Notebook,15.6,8,1.95,1,Intel Core i5,256.0,Nvidia,MacOS
496,Lenovo,Notebook,15.6,8,2.17,1,Intel Core i7,256.0,Intel,Windows
118,Asus,Notebook,17.3,4,2.00,1,Intel Core i3,1000.0,Nvidia,Windows
677,HP,2 in 1 Convertible,11.6,8,1.40,0,Other Intel processor,64.0,Intel,MacOS
...,...,...,...,...,...,...,...,...,...,...
211,Asus,Gaming,17.3,16,2.90,1,Intel Core i7,256.0,Nvidia,Windows
1095,Acer,Notebook,15.6,8,2.40,1,Intel Core i5,256.0,Nvidia,Windows
648,Toshiba,Notebook,13.3,8,1.20,1,Intel Core i5,256.0,Intel,Windows
827,Dell,Notebook,14.0,4,1.76,0,Intel Core i3,500.0,Intel,Windows
103,HP,Ultrabook,13.3,8,1.38,1,Intel Core i7,256.0,Nvidia,Windows

## Scaling of Data

In [15]:
num_data= X_train.select_dtypes(exclude=['object'])
cat_data= X_train.select_dtypes(include=['object'])

In [16]:
num_data

      Inches  Ram  Weight  HD_display  memory
136     15.6    4    1.90           0  1000.0
184     15.6    8    1.95           1   256.0
496     15.6    8    2.17           1   256.0
118     17.3    4    2.00           1  1000.0
677     11.6    8    1.40           0    64.0
...      ...  ...     ...         ...     ...
211     17.3   16    2.90           1   256.0
1095    15.6    8    2.40           1   256.0
648     13.3    8    1.20           1   256.0
827     14.0    4    1.76           0   500.0
103     13.3    8    1.38           1   256.0

[1042 rows x 5 columns]

In [17]:
cat_data

,Company,TypeName,cpu_brand,gpu_brand,operating_system
136,Lenovo,Notebook,Other Intel processor,Intel,MacOS
184,Xiaomi,Notebook,Intel Core i5,Nvidia,MacOS
496,Lenovo,Notebook,Intel Core i7,Intel,Windows
118,Asus,Notebook,Intel Core i3,Nvidia,Windows
677,HP,2 in 1 Convertible,Other Intel processor,Intel,MacOS
...,...,...,...,...,...
211,Asus,Gaming,Intel Core i7,Nvidia,Windows
1095,Acer,Notebook,Intel Core i5,Nvidia,Windows
648,Toshiba,Notebook,Intel Core i5,Intel,Windows
827,Dell,Notebook,Intel Core i3,Intel,Windows
103,HP,Ultrabook,Intel Core i7,Nvidia,Windows

### StanderScaler

In [18]:
from sklearn.preprocessing import StandardScaler
scaler= StandardScaler()

In [19]:
scaler.fit(num_data)

StandardScaler()

In [20]:
X_train_scaled= scaler.transform(num_data)

In [21]:
X_train_scaled

array([[ 0.40837215, -0.84097201, -0.19971087, -1.51230494,  1.53945084],
       [ 0.40837215, -0.06856757, -0.12337126,  0.6612423 , -0.52313622],
       [ 0.40837215, -0.06856757,  0.21252303,  0.6612423 , -0.52313622],
       ...,
       [-1.20292963, -0.06856757, -1.26846544,  0.6612423 , -0.52313622],
       [-0.71253343, -0.84097201, -0.41346178, -1.51230494,  0.15330363],
       [-1.20292963, -0.06856757, -0.99364283,  0.6612423 , -0.52313622]])

In [22]:
X_train_scaled.shape

(1042, 5)

In [23]:
num_data.shape

(1042, 5)

In [24]:
X_train_scaled = pd.DataFrame(X_train_scaled, columns=num_data.columns)

In [25]:
X_train_scaled

        Inches       Ram    Weight  HD_display    memory
0     0.408372 -0.840972 -0.199711   -1.512305  1.539451
1     0.408372 -0.068568 -0.123371    0.661242 -0.523136
2     0.408372 -0.068568  0.212523    0.661242 -0.523136
3     1.599334 -0.840972 -0.047032    0.661242  1.539451
4    -2.393892 -0.068568 -0.963107   -1.512305 -1.055417
...        ...       ...       ...         ...       ...
1037  1.599334  1.476241  1.327081    0.661242 -0.523136
1038  0.408372 -0.068568  0.563685    0.661242 -0.523136
1039 -1.202930 -0.068568 -1.268465    0.661242 -0.523136
1040 -0.712533 -0.840972 -0.413462   -1.512305  0.153304
1041 -1.202930 -0.068568 -0.993643    0.661242 -0.523136

[1042 rows x 5 columns]

In [27]:
np.round(X_train_scaled,1).head()

   Inches  Ram  Weight  HD_display  memory
0     0.4 -0.8    -0.2        -1.5     1.5
1     0.4 -0.1    -0.1         0.7    -0.5
2     0.4 -0.1     0.2         0.7    -0.5
3     1.6 -0.8    -0.0         0.7     1.5
4    -2.4 -0.1    -1.0        -1.5    -1.1

In [28]:
num_data

      Inches  Ram  Weight  HD_display  memory
136     15.6    4    1.90           0  1000.0
184     15.6    8    1.95           1   256.0
496     15.6    8    2.17           1   256.0
118     17.3    4    2.00           1  1000.0
677     11.6    8    1.40           0    64.0
...      ...  ...     ...         ...     ...
211     17.3   16    2.90           1   256.0
1095    15.6    8    2.40           1   256.0
648     13.3    8    1.20           1   256.0
827     14.0    4    1.76           0   500.0
103     13.3    8    1.38           1   256.0

[1042 rows x 5 columns]

In [30]:
from sklearn.preprocessing import OneHotEncoder

In [31]:
ohe = OneHotEncoder()

In [32]:
cat_data.head()

,Company,TypeName,cpu_brand,gpu_brand,operating_system
136,Lenovo,Notebook,Other Intel processor,Intel,MacOS
184,Xiaomi,Notebook,Intel Core i5,Nvidia,MacOS
496,Lenovo,Notebook,Intel Core i7,Intel,Windows
118,Asus,Notebook,Intel Core i3,Nvidia,Windows
677,HP,2 in 1 Convertible,Other Intel processor,Intel,MacOS

In [33]:
ohe.fit(cat_data)

OneHotEncoder()

In [71]:
encoded = ohe.transform(cat_data)

In [72]:
encoded

<1042x35 sparse matrix of type '<class 'numpy.float64'>'
	with 5210 stored elements in Compressed Sparse Row format>

In [96]:
ohe_columns= ohe.get_feature_names_out(cat_data.columns)

In [90]:
cat_data.columns

Index(['Company', 'TypeName', 'cpu_brand', 'gpu_brand', 'operating_system'], dtype='object')

In [50]:
encoded = encoded.toarray()

In [49]:
cat_data

,Company,TypeName,cpu_brand,gpu_brand,operating_system
136,Lenovo,Notebook,Other Intel processor,Intel,MacOS
184,Xiaomi,Notebook,Intel Core i5,Nvidia,MacOS
496,Lenovo,Notebook,Intel Core i7,Intel,Windows
118,Asus,Notebook,Intel Core i3,Nvidia,Windows
677,HP,2 in 1 Convertible,Other Intel processor,Intel,MacOS
...,...,...,...,...,...
211,Asus,Gaming,Intel Core i7,Nvidia,Windows
1095,Acer,Notebook,Intel Core i5,Nvidia,Windows
648,Toshiba,Notebook,Intel Core i5,Intel,Windows
827,Dell,Notebook,Intel Core i3,Intel,Windows
103,HP,Ultrabook,Intel Core i7,Nvidia,Windows

In [93]:
encoded

<1042x35 sparse matrix of type '<class 'numpy.float64'>'
	with 5210 stored elements in Compressed Sparse Row format>

In [95]:
encoded= encoded.toarray()

In [99]:
cat_dataframe= pd.DataFrame(encoded,columns=ohe_columns)

In [100]:
cat_dataframe

,Company_Acer,Company_Apple,Company_Asus,Company_Chuwi,Company_Dell,Company_Fujitsu,Company_Google,Company_HP,Company_Huawei,Company_LG,...,cpu_brand_Intel Core i3,cpu_brand_Intel Core i5,cpu_brand_Intel Core i7,cpu_brand_Other Intel processor,gpu_brand_AMD,gpu_brand_ARM,gpu_brand_Intel,gpu_brand_Nvidia,operating_system_MacOS,operating_system_Windows
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
3,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1037,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
1038,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
1039,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
1040,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
1041,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0

In [101]:
X_train_scaled

        Inches       Ram    Weight  HD_display    memory
0     0.408372 -0.840972 -0.199711   -1.512305  1.539451
1     0.408372 -0.068568 -0.123371    0.661242 -0.523136
2     0.408372 -0.068568  0.212523    0.661242 -0.523136
3     1.599334 -0.840972 -0.047032    0.661242  1.539451
4    -2.393892 -0.068568 -0.963107   -1.512305 -1.055417
...        ...       ...       ...         ...       ...
1037  1.599334  1.476241  1.327081    0.661242 -0.523136
1038  0.408372 -0.068568  0.563685    0.661242 -0.523136
1039 -1.202930 -0.068568 -1.268465    0.661242 -0.523136
1040 -0.712533 -0.840972 -0.413462   -1.512305  0.153304
1041 -1.202930 -0.068568 -0.993643    0.661242 -0.523136

[1042 rows x 5 columns]

In [106]:
X_train=X_train_scaled.merge(cat_dataframe,left_index=True, right_index=True)

,Inches,Ram,Weight,HD_display,memory,Company_Acer,Company_Apple,Company_Asus,Company_Chuwi,Company_Dell,...,cpu_brand_Intel Core i3,cpu_brand_Intel Core i5,cpu_brand_Intel Core i7,cpu_brand_Other Intel processor,gpu_brand_AMD,gpu_brand_ARM,gpu_brand_Intel,gpu_brand_Nvidia,operating_system_MacOS,operating_system_Windows
0,0.408372,-0.840972,-0.199711,-1.512305,1.539451,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
1,0.408372,-0.068568,-0.123371,0.661242,-0.523136,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
2,0.408372,-0.068568,0.212523,0.661242,-0.523136,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
3,1.599334,-0.840972,-0.047032,0.661242,1.539451,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
4,-2.393892,-0.068568,-0.963107,-1.512305,-1.055417,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1037,1.599334,1.476241,1.327081,0.661242,-0.523136,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
1038,0.408372,-0.068568,0.563685,0.661242,-0.523136,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
1039,-1.202930,-0.068568,-1.268465,0.661242,-0.523136,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
1040,-0.712533,-0.840972,-0.413462,-1.512305,0.153304,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
1041,-1.202930,-0.068568,-0.993643,0.661242,-0.523136,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0

In [108]:
y_train

136     13446.0
184     63883.0
496     47893.0
118     30050.0
677     26374.0
         ...
211     74965.0
1095    42571.0
648     64629.0
827     31169.0
103     59620.0
Name: Price, Length: 1042, dtype: float64

In [109]:
X_test

,Company,TypeName,Inches,Ram,Weight,HD_display,cpu_brand,memory,gpu_brand,operating_system
499,Lenovo,Notebook,15.6,8,2.30,1,Intel Core i5,256.0,Intel,Windows
495,Lenovo,Ultrabook,12.5,8,1.30,0,Intel Core i5,180.0,Intel,Windows
493,Acer,Notebook,15.6,8,2.20,0,AMD,1000.0,AMD,Windows
114,Dell,Ultrabook,13.3,8,1.21,1,Intel Core i5,256.0,Intel,Windows
472,Google,Ultrabook,12.3,8,1.10,0,Intel Core i5,128.0,Intel,MacOS
...,...,...,...,...,...,...,...,...,...,...
1120,Vero,Notebook,13.3,4,1.35,1,Other Intel processor,32.0,Intel,Windows
928,Dell,Notebook,15.6,4,2.18,0,Intel Core i5,1000.0,Intel,Windows
949,Acer,Notebook,14.0,4,1.68,0,Other Intel processor,32.0,Intel,MacOS
49,Asus,Notebook,17.3,4,2.80,0,Other Intel processor,1000.0,Nvidia,Windows
675,MSI,Gaming,15.6,16,2.40,1,Intel Core i7,256.0,Nvidia,Windows